.location-detail-page {
  max-width: 1620px;
  padding-right: 0;
  padding-left: 0;
}
.sort-select-option {
  width: 200px;
  .css-yk16xz-control {
    border-style: none;
    .css-1hb7zxy-IndicatorsContainer {
      .css-1okebmr-indicatorSeparator {
        background-color: white;
        align-self: auto;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}
