@import '../../scss/common/variable';
@import '../../scss/mixins/index';

.wrapper-card-detail-location {
  height: 500px;
  background-color: white;
  width: 100px;
}

.wrapper-detail-location {
  background-color: white;
}
