@import '../../../../scss/common/variable';

.wrapper-clock {
  background: $color-white;
  border-style: dashed;
  border-radius: 5px;
  padding: 10px 30px;
  border-color: $quite-blue-color;
  border-width: thin;
  height: 100%;

  p {
    margin: 0px;
    color: $quite-blue-color;
    //font-size: calculateRem(30px);
  }
}

@media only screen and (max-width: 600px) {
  .wrapper-clock {
    p {
      //font-size: calculateRem(14px);
    }
  }
}
