@import '../../../scss/common/variable';
@import '../../../scss/mixins/index';

.title-place {
  @include breakpoint($breakpoint-sm) {
    font-size: 1.5rem;
  }
}
.wrapper-ranking {
  .wrapper-input-search-uni {
    display: flex;
    position: relative;
    width: 100%;
    @include breakpoint($breakpoint-md) {
      width: 40%;
    }
    .search-location {
      width: 100%;
      border-radius: 5px;
      border: 0;
      outline: none;
    }

    .search-icon {
      position: absolute;
      @include absoluteCenter;
      right: calculateRem(3px);
    }
  }
}

.wrapper-select-rank {
  height: 100%;
  .sort-select {
    width: 100px;
    @include breakpoint($breakpoint-sm) {
      width: 200px;
    }
  }
  .button-filter {
    border-radius: 5px;
    font-size: 12px;
    background: $color-main;
    border: none;
    color: $color-white;
    width: 110px;
    height: 45px;
    @include breakpoint($breakpoint-sm) {
      height: 55px;
      width: 150px;
    }

    &::first-letter {
      text-transform: uppercase;
    }

    .image-filter {
      padding-left: 15px;
    }
  }
}

.filter-button-item {
  padding: 0 29px;
  @include breakpoint($breakpoint-sm) {
    padding: 0 125px;
  }
}
.radio {
  display: flex;
  justify-content: space-between;
  .radio-item {
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  _ .text-center {
    cursor: pointer;
  }
}
input:checked {
  background-color: $color-link;
}
.text-secondary {
  cursor: pointer;
}
